@model MyProject.Entity.Concrete.Department
@{
    ViewData["Title"] = "AddDepartment";
}

<form class="form-group" method="post">
    <div>
        <label>Department Name : </label>
        <input type="text" class="form-control" name="DepartmentName"/>
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Add department</button>
    </div>
</form>
