@model MyProject.Entity.Concrete.Employee
@{
    ViewData["Title"] = "AddEmployee";
}

    <form class="form-group" method="post">
        <div style="margin-top:15px">
            <label>Employee Name : </label>
            <input type="text" class="form-control" name="Name" />
        </div>
        <div style="margin-top:15px">
            <label>Employee Surname : </label>
            <input type="text" class="form-control" name="Surname" />
        </div>
        <div style="margin-top:15px">
            <label>Employee Email : </label>
            <input type="text" class="form-control" name="Email" />
        </div>
        <div style="margin-top:15px">
            <label>Employee Mobile Number : </label>
            <input type="text" class="form-control" name="Mobile" />
        </div>
        <div style="margin-top:15px">
            <label>Department : </label>
            @Html.DropDownListFor(e=>e.DepId,(List<SelectListItem>) ViewBag.department,new { @class = "form-control" })
        </div>
        <div style="margin-top:15px">
            <label>Employee Description : </label>
            <input type="text" class="form-control" name="Description" />
        </div>
        <div style="margin-top:15px">
            <button class="btn btn-info">Add Employee</button>
        </div>
    </form>

